/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@450&family=Lora:wght@500&display=swap');

/* https://coolors.co/0f5257-0b3142-f2d492-9c92a3-d6d3f0 */

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #D6D3F0;
  --secondary-color: #FDF8ED;
  --accent1-color: #9C92A3;
  --accent2-color: #0B3142;
  --accent3-color: #0F5257;
  --bodybackground-color: #F1F0FA;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Lora', serif;
  --paragraph-font: 'Open Sans', san-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
}

#content {
  background-color: var(--bodybackground-color);
  text-align: center;
}

body {
  font-family: --paragraph-font;
  font-size: 18px;
  margin: 0;
  width: 100%;
}

img {
  max-width: 100%;
}

/* Banner Image*/
.banner {
  max-width: 100%;
  margin-bottom: 0;
  position: relative;
}
.banner img{
  filter: brightness(40%);
}

/*Navigation*/
nav{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 11px;
  display: block;
}

nav li {
  margin: auto;
  width: 100%;
  text-align: center;
  border-right: 2px solid white;
}

nav ul {
  display: grid;
  max-width: fit-content;
  margin: .5em 0 .5em auto;
  grid-template-columns: repeat(3, minmax(6em, 1fr));
  height: 50px;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  padding: 0;
}

nav a:hover {
  text-decoration: underline;
}

/* Banner text*/
.banner-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}

.banner-text p{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.banner-button{
  padding: .5em 1em;
  background-color: var(--accent3-color);
  color: white;
  text-decoration: none;
  margin: 2em auto;
  border-radius: 5px;
}

/* Footer */
.footer {
  width: 100%;
  margin-bottom: 0;
  padding: 20px 0;
  background-color: #fdfdfd;
  height: 150px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: var(--paragraph-font);
}

.footer img{
  grid-column: 2;
  margin: 0 auto;
  max-height: 80px;
}

.copyright {
  margin-top: auto;
  padding-bottom: 10px;
  margin-bottom: 0;
  grid-column: 1/4;
  grid-row: 2;
}

/*Contact Me*/
#contact{
  width: 80%;
  padding: 2em 10%;
  margin: -5px auto 0;
  background-color: var(--secondary-color);
}

#about{
  width: 80%;
  padding: 2em 10%;
  margin: 0 auto;
  background-color: var(--accent1-color);
}

@media screen and (max-width: 550px) { 
  /* beginning of media query */
      h1{
        font-size: 1.8em;
      }

      h3{
        font-size: 1em;
      }
      
      body{
        font-size: 16px;
      }
  
      nav{
        visibility: hidden;
      }
      .banner img{
        object-fit: cover;
        height: 250px;
        width: 100%;
      }
      .banner-text {
        position: absolute;
        width: 100%;
        top: 0px;
        left: auto;
        transform: none;
      }

      .banner-text p{
        width: 90%;
      }
      
      .footer{
        height: 80px;
      }

  /* end of media query */ 
  } 